<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 08.09.2023, 12:35</time>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post</p>
        </article>

        <article>
            <time>published: 08.09.2023, 12:35</time>
            <h2><a href="">My Second post</a></h2>
            <p>This is my second post</p>
        </article>
    </body>
</html>